@import "../_components/color.scss";
@import "../_components/mixin.scss";

.characters {
  div.bg {
    @include bg(url("../../images/w-character.jpg"));
  }
}

.dead {
  color: $red;
}

.alive {
  color: $green;
}

.unknown {
  color: $unknown;
}