$green : #008000;
$red : #ce1111;
$unknown : #2b2bad;
$rick-morty-color : #69c29f;
$bg-rick-morty-color: #4AAA9B;
$rick-morty-color-hover: #8BD196;
$white:#FFF;
$female: #FFA9D0;
$male: #0000ff;
$neutral: #EEEEEE;
$genderless: #ffff00;
$close-btn: #CBFBE6;
$modal-linear:linear-gradient(225deg, #43998c, #4fb6a6);