@mixin flex($justify, $align, $dir:row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;

    @if $dir==column {
        flex-wrap: nowrap;
    }

    @else {
        flex-wrap: wrap;
    }

}

@mixin img($width:100%) {
    max-width: $width;
    height: auto;
}

@mixin bg($url, $height: 70vh) {
    background-image: $url;
    background-repeat: no-repeat;
    background-size: cover;
    height: $height;
}