@mixin flex($justify, $align, $dir:row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir
}

@mixin grid($columns, $rows, $gap:0px) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-gap: $gap;
}

@mixin img {
    max-width: 100%;
    height: auto;
}

@mixin bg($url) {
    background-image: $url;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}