$no-bullet : none;

$full-screen : 100vh;
$half-screen: 50vh;
$full-width:100vw;

$margin-bottom-dots : 30px;

$shadow-rick-morty: -4px -2px 9px #69c29f;
$shadow-form: 0 0 7px rgba(0, 0, 0, 0.44);

$neumorphisme: -4px 4px 25px #1e443e,
4px -4px 25px #76fff8;
$neumorphisme-hover: -4px 1px 25px #1e443e,
4px -1px 25px #76fff8;

$height-select: 37px;