$no-bullet : none;
$full-screen : 100vh;
$half-screen: 50vh;
$full-width:100vw;
$margin-bottom-dots : 30px;
$shadow-rick-morty: -4px -2px 9px #69c29f;
$neumorphisme: -4px 4px 25px #1e443e,
4px -4px 25px #76fff8;