<article class="card_content">
<a data-micromodal-trigger="modal-e-{{data.id}}" href='javascript:void(0);' class="link"></a>
    <figure>
        <img src="{{asset('images/thumb-episode.jpg')}}" alt="">
    </figure>
    <div class="infos">
        <h2> {{data.name}} </h2>
        <small>{{data.episode}}</small>
        {% include "_components/modal/modal.html.twig" with {'target' : 'e-'~ data.id, 'modal' : 'episodes_modal' } %}
    </div>
    
</article>     