{% extends 'base.html.twig' %}
{% block title %}Locations{% endblock %}
{% block class_body %}class="locations"{% endblock %}
 {% block background %}
    <div class="bg"></div>
 {% endblock %}
{% block body %}
    <form action="{{path('locations')}}">
    {% set name = app.request.query.get('name') %}
        <input id="locations" name="name" type="text" placeholder="{% if name %}Result for {{name}}...{% else %}Name of the location...{% endif %}">
        <button><i class="fa fa-search"></i></button>
    </form>
    <section class="cards_container">
        {% for data in data_locations.results %}
            {% include "_components/location_cards.html.twig" %}            
        {% endfor %}
    </section>

    {% include "_components/pagination.html.twig" with {'max_page' : data_locations.info.pages, 'target': 'locations'} %}


{% endblock %}
